{% load static %}
<html>
    <head>
        <title>We are the steeple</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">+++</span></a>

            <h1><a href="/">Ibrox Daily</a></h1>
        </div>

            <div>
                {% block content %}
                {% endblock %}
            </div>

    </body>
</html>